html,
body {
  height: 100vh;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    137deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(132, 240, 191, 1) 0%,
    rgba(108, 207, 255, 1) 100%,
    rgba(255, 212, 82, 1) 100%
  );
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.far {
  color: yellow;
  font-size: 20px;
}
.active {
  font-size: 48px;
  color: yellow;
  font-size: 20px;
}
.star {
  margin-bottom: 20px;
  font-size: 30px;
}
